<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805390076705-soh2cb2elj9dj31rovn61kva3hul4dcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805390076705-soh2cb2elj9dj31rovn61kva3hul4dcq</string>
	<key>API_KEY</key>
	<string>AIzaSyAo5r6Pq4KcmXTZ5ZGF2WTVzmzGKNlKMQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>805390076705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc-23-b2l-bgsy</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc-23-b2l-bgsy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805390076705:ios:344ff1b632666177b8cc60</string>
</dict>
</plist>